{% extends 'artisttree/base.html' %}
{% block title %}Add Comment{% endblock %}
{% block event_active %}active{% endblock %}
{% load staticfiles %}
{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form action ="" method="post">
                        {%csrf_token%}
                        {% include 'artisttree/form_template.html' %}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                    <form action="/artisttree/event">
                        <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Cancel</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>


    </div>
    </div>
</div>
{% endblock %}
