
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Events</title>
		{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />
	 <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="{% static 'profile/css/plugin.css' %}">

    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'profile/css/style.css' %}">
  <!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FREEHTML5.CO

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<!-- Animate -->
	<link rel="stylesheet" href="{% static 'event/css/animate.css' %}">
	<!-- Icomoon -->
	<link rel="stylesheet" href="../../static/event/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../../static/event/css/bootstrap.css">

	<link rel="stylesheet" href="../../static/event/css/style.css">


	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div id="fh5co-offcanvas">
		<a href="#" class="fh5co-close-offcanvas js-fh5co-close-offcanvas"><span><i class="icon-cross3"></i> <span>Close</span></span></a>
		<div class="fh5co-bio">
			<figure>
			{% if userprofilepic.profile_pic %}
					<img class="avatar" src="{{ MEDIA_URL }}{{ userprofilepic.profile_pic.url }}" alt="{{user.last_name}}" class="img-responsive"/></a>
			{% else %}
                    <img class="avatar" src="{{ MEDIA_URL }}{{ 'profile_pics/user-256.png' }}" class="img-responsive" alt="{{user.last_name}}">
            {% endif %}
			</figure>
			<a href="{% url 'artisttree:profile' %}" ><h3 class="heading">{{user.first_name}} {{user.last_name}}</h3> </a>

<!--			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
	-->		<ul class="fh5co-social">
				<li><a href="#"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-instagram"></i></a></li>
			</ul>
		</div>

		<div class="fh5co-menu">
			<div class="fh5co-box">
				<h3 class="heading">Categories</h3>
				<ul>
					<li><a href="{% url 'artisttree:all' %}">Discussion</a></li>
					<li><a href="{% url 'artisttree:event' %}">Event</a></li>
					<li><a href="{% url 'artisttree:home' %}">Chat Forum</a></li>
					<li><a href="#"></a></li>
					<li><a href="{% url 'artisttree:logout_user' %}">Logout</a></li>
				</ul>
			</div>
			<div class="fh5co-box">
				<h3 class="heading">Search</h3>
				<form action="{% url 'artisttree:searchevents' %}">
					<div class="form-group">
						<input type="text" class="form-control" name="q" value="{{ request.GET.q }}" placeholder="Type a keyword">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- END #fh5co-offcanvas -->
	<header id="fh5co-header">

		<div class="container-fluid">

			<div class="row">
				<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
				<ul class="fh5co-social">
					<!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
					<!--<li><a href="#"><i class="icon-facebook"></i></a></li>-->
					<!--<li><a href="#"><i class="icon-instagram"></i></a></li>-->
				</ul>
				<div class="col-lg-12 col-md-12 text-center">
					<h1 id="fh5co-logo"><a href="{% url 'artisttree:event' %}">Events</a></h1>
				</div>
				<div class="col-lg-12 col-md-12 text-center">
				<a href="{% url 'artisttree:create_event' %}" class="waves-effect waves-light btn-large">Create Event</a>

				</div>
			</div>

		</div>

	</header>
	<!-- END #fh5co-header -->
	<div class="container-fluid">
		<div class="row fh5co-post-entry">
			{%if event.count > 0%}
					{% for eventsingle in event %}
					<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
					<time class="published" datetime="2015-11-01">{{ eventsingle.date_posted }} | {{eventsingle.time_posted}}</time> <br/>

					<a href="/artisttree/profile/{{eventsingle.user.id}}" class="author"><span class="name">{{eventsingle.user.first_name}} {{eventsingle.user.last_name}}</span>
	<!--				{% if userprofilepic.profile_pic %}
					<img class="avatar" src="{{ MEDIA_URL }}{{ userprofilepic.profile_pic.url }}" alt="" /></a>
					{% else %}
                    <img class="avatar" src="{{ MEDIA_URL }}{{ 'profile_pics/user-256.png' }}" alt="">
                    {% endif %}
		-->		<figure>
					<a href="/artisttree/event/{{eventsingle.id}}">
					{% if eventsingle.user.userprofileinfo.profile_pic %}
				        <img src="{{ MEDIA_URL }}{{ eventsingle.user.userprofileinfo.profile_pic.url }}" class="img-responsive" alt="">
					{% else %}
                        <img src="{{ MEDIA_URL }}{{ 'profile_pics/user-256.png' }}" alt="">
                    {% endif %}

				</a>
				</figure>
<!--				<h4>{{user.first_name}} {{user.last_name}}</h4>	-->
						<h1 class="fh5co-article-title"><a href="/artisttree/event/{{eventsingle.id}}">{{eventsingle.eventname}}</a></h1>
				<h2 class="fh5co-article-title"><a href="/artisttree/event/{{eventsingle.id}}">{{eventsingle.description|lower|truncatewords:"3"}}</a></h2>
				<h5> Date of Event: <span class="fh5co-meta fh5co-date">{{eventsingle.eventdate}}</span>
				Start of the Event: <span class="fh5co-meta fh5co-date">{{eventsingle.eventstart}}</span>
				End of the Event: <span class="fh5co-meta fh5co-date">{{eventsingle.eventend}}</span>
                    <li><a href="/artisttree/event/{{eventsingle.id}}/edit">Edit Event</a></li>
                    <li><a href="/artisttree/event/{{eventsingle.id}}/delete">Delete Event</a></li>
				</h5>


			</article>

					{%endfor%}

            {%else%}
                     <p>No Event</p>
            {%endif%}
<!--

			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="single.html"><img src="../../static/event/images/pic_2.jpg" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="single.html">Food &amp; Drink</a></span>
				<h2 class="fh5co-article-title"><a href="single.html">Beef Steak at Guatian Restaurant</a></h2>
				<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
			</article>
			<div class="clearfix visible-xs-block"></div>
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="single.html"><img src="../../static/event/images/pic_3.jpg" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="single.html">Travel</a>, <a href="single.html">Style</a></span>
				<h2 class="fh5co-article-title"><a href="single.html">An Overlooking River at the East Cost</a></h2>
				<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
			</article>
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="single.html"><img src="../../static/event/images/pic_4.jpg" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="single.html">Travel</a>, <a href="single.html">Style</a></span>
				<h2 class="fh5co-article-title"><a href="single.html">A Wildlife In The Mountain of India</a></h2>
				<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
			</article>
			<div class="clearfix visible-lg-block visible-md-block visible-sm-block visible-xs-block"></div>
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="single.html"><img src="../../static/event/images/pic_5.jpg" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="single.html">Photography</a></span>
				<h2 class="fh5co-article-title"><a href="single.html">We Took A Photo</a></h2>
				<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
			</article>
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="single.html"><img src="../../static/event/images/pic_6.jpg" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="single.html">Travel</a>, <a href="single.html">Style</a></span>
				<h2 class="fh5co-article-title"><a href="single.html">A Modernize Huge and Beautiful Building</a></h2>
				<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
			</article>
			<div class="clearfix visible-xs-block"></div>
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="single.html"><img src="../../static/event/images/pic_7.jpg" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="single.html">Food &amp; Drinks</a></span>
				<h2 class="fh5co-article-title"><a href="single.html">Enjoying the Native Juice Drink in Brazil</a></h2>
				<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
			</article>
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="single.html"><img src="../../static/event/images/pic_8.jpg" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="single.html">Travel</a>, <a href="single.html">Style</a></span>
				<h2 class="fh5co-article-title"><a href="single.html">Boat Travel in The Vietnam River</a></h2>
				<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
			</article>
			<div class="clearfix visible-lg-block visible-md-block visible-sm-block visible-xs-block"></div>



			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="single.html"><img src="../../static/event/images/pic_1.jpg" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="single.html">Food &amp; Drink</a></span>
				<h2 class="fh5co-article-title"><a href="single.html">We Eat and Drink All Night</a></h2>
				<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
			</article>
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="single.html"><img src="../../static/event/images/pic_2.jpg" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="single.html">Food &amp; Drink</a></span>
				<h2 class="fh5co-article-title"><a href="single.html">Beef Steak at Guatian Restaurant</a></h2>
				<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
			</article>
			<div class="clearfix visible-xs-block"></div>
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="single.html"><img src="../../static/event/images/pic_3.jpg" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="single.html">Travel</a>, <a href="single.html">Style</a></span>
				<h2 class="fh5co-article-title"><a href="single.html">An Overlooking River at the East Cost</a></h2>
				<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
			</article>
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="single.html"><img src="../../static/event/images/pic_4.jpg" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="single.html">Travel</a>, <a href="single.html">Style</a></span>
				<h2 class="fh5co-article-title"><a href="single.html">A Wildlife In The Mountain of India</a></h2>
				<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
			</article>
			<div class="clearfix visible-lg-block visible-md-block visible-sm-block visible-xs-block"></div>
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="single.html"><img src="../../static/event/images/pic_5.jpg" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="single.html">Photography</a></span>
				<h2 class="fh5co-article-title"><a href="single.html">We Took A Photo</a></h2>
				<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
			</article>
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="single.html"><img src="../../static/event/images/pic_6.jpg" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="single.html">Travel</a>, <a href="single.html">Style</a></span>
				<h2 class="fh5co-article-title"><a href="single.html">A Modernize Huge and Beautiful Building</a></h2>
				<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
			</article>
			<div class="clearfix visible-xs-block"></div>
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="single.html"><img src="../../static/event/images/pic_7.jpg" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="single.html">Food &amp; Drinks</a></span>
				<h2 class="fh5co-article-title"><a href="single.html">Enjoying the Native Juice Drink in Brazil</a></h2>
				<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
			</article>
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="single.html"><img src="../../static/event/images/pic_8.jpg" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="single.html">Travel</a>, <a href="single.html">Style</a></span>
				<h2 class="fh5co-article-title"><a href="single.html">Boat Travel in The Vietnam River</a></h2>
				<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
			</article>
			<div class="clearfix visible-xs-block"></div>
		</div>-->
	</div>

	<footer id="fh5co-footer">
                                <p><small>&copy; 2017 .Artist Tree, Design By Group 2</small></p>
	</footer>



	<!-- jQuery -->
	<script src="{% static 'event/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'event/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'event/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'event/js/jquery.waypoints.min.js' %}"></script>
	<!-- Main JS -->
	<script src="{% static 'event/js/main.js' %}"></script>

	<script src="{% static 'js/datetimewidgets/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/datetimewidgets/jonthornton-timepicker/jquery.timepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/datetimewidgets/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/datetimewidgets/jonthornton-timepicker/jquery.timepicker.css' %}">
    <script src="{% static 'js/eventmaker.js' %}"></script>
    <script src="{% static 'bootstrap4/js/bootstrap.js' %}"></script>

	</body>
</html>

